<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sign.css?q=1280549780') }}"> -->
    <title>Document</title>
</head>
<body>
    
  <div class="nav1">
    <div class="container">
        <div class="logo">
                <a href="/movies" alt="agoodmovietowatch" class="newlogona">
                        <span class="header-logo-text">a<b>goodmovie</b>towatch
                        </span>
                        </a>

        </div>
       
        <div>
             <ul>
               <li><a href="/movies">Movies</a></li>
                  <li class="random"><a href="/random" class="random">Random</a></li>
                  <li class="last24h"><a href="/last24h" class="last24h">Popular in the Last 24h</a></li>
                <li class="sign" ><a href="/login" class="last24h">Log In</a></li>
                <li class="sign"><a href="/signup" class="last24h">Sign UP</a></li>
                
            </ul> 
        </div>
          

    </div>
</div>
        <!-- action="index.html" -->
    
<div class="container tw0">
    <div action="login" class="signup-form">
        <form  method="post">
            <h1>Sign Up</h1>
            <input name="full_name" type="text" placeholder="Full Name" class="txtb">
            <input name="email" type="email" placeholder="Email" class="txtb">
            <input name="password" type="password" placeholder="Password" class="txtb">
            <input type="submit" value="Create Account" class="signup-btn">
            <a href="/login">Already Have one ?</a>
        </form>
    </div>
</div>

   
</body>
<style>


</style>

</html>